.addons
.cfssl
.key-pair
.keypair
.kube
.srl
.ssl
.terraform

terraform.tfplan
terraform.tfstate*
terraform.tfvars
*.tfvars
**/*.tfvars
.terraform.tfstate.lock.info

templates
*.bak

**/rancher_node.sh